@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightMainBg: #e5e7eb;
  --color-darkMainBg: hsl(222.2, 84%, 4.9%);
  --color-white: #fff;
  --color-darkNavbar: hsl(222.2, 84%, 4.9%);
  --color-darkCard: hsl(
    222.2,
    47.4%,
    11.2%
  ); 
  --color-cardForeground: hsl(210, 40%, 98%); /* تحويل القيمة لـ HSL للتناسق */
}
.dark nav {
  background-color: var(--color-darkNavbar);
}




.dropdown-container {
  position: relative;
  width: 1 0px;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.dropdown-header:hover {
  background-color: #e0e0e0;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

.selected-value {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

/* دعم الـ RTL للغة العربية */
[dir="rtl"] .dropdown-header {
  text-align: right;
}

[dir="rtl"] .dropdown-list {
  text-align: right;
}

/* تخصيص أزرار Swiper */
/* .swiper-button-prev,
.swiper-button-next {
  color: #ffffff; 
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
} */

/* .swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8); 
} */

/* .swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px; 
} */

/* ضبط المسافات للأزرار */
/* .swiper-button-prev {
  left: 10px; 
}

.swiper-button-next {
  right: 10px;
} */
