@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-mainColor: #4f39f6;
  --color-lightMainBg: #e5e7eb;
  --color-darkMainBg: hsl(222.2, 84%, 4.9%);
  --color-white: #fff;
  --color-darkNavbar: hsl(222.2, 84%, 4.9%);
  --color-darkCard: hsl(222.2, 47.4%, 11.2%);
  --color-textDark: hsl(210, 40%, 98%);
  --color-muted: #d1d5dc;
  --duration: 500ms;
}
.dark nav {
  background-color: var(--color-darkNavbar);
}

.dropdown-container {
  position: relative;
  width: 1 0px;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.dropdown-header:hover {
  background-color: #e0e0e0;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

.selected-value {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

/* دعم الـ RTL للغة العربية */
[dir="rtl"] .dropdown-header {
  text-align: right;
}

[dir="rtl"] .dropdown-list {
  text-align: right;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}